::-webkit-scrollbar {
    width: .2rem;
    height: .2rem;
    margin: 0 .5rem;
}

::-webkit-scrollbar-track {
    background-color: #38373746;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(75, 75, 180, 0.6);
    border-radius: 100vh;
}

body {
    background-color: #1E1E1E;
    color: aliceblue;
}


/* Navegation */
nav ul .nav-link,
footer ul .nav-link {
    color: aliceblue;
}

/* Background */
.background {
    height: 50%;
    padding: 0;
    position: relative;
}

.background .image-background {
    max-width: 100%;
    line-height: 0;
}

.background .image-background img {
    width: 100%;
    display: block;
}

/* Description Background */
.background .description-background-movie {
position: absolute;
top: 0;
bottom: -1px;
left: 0;
right: 0;
display: flex;
align-items: end;
background: rgb(30, 30, 30);
background: linear-gradient(0deg, rgba(30, 30, 30, 1) 10%, rgba(30, 30, 30, 0) 72%);
}

.background .description-background-movie .title, 
.background .description-background-movie .description,
.background .description-background-movie .about-movie {
    padding: .1rem .2rem;
    margin: 0;
}

.background .description-background-movie .title {
    font-size: 3.3rem;
    line-height: 4rem;
    font-weight: bold;
}

/* Buttons */
.background .description-background-movie .button-actions {
    display: flex;
    align-items: center;
    justify-content: center;
}

.description-background-movie .button-actions .button-play{
    border: none;
    background-color: transparent;
    color: aliceblue;
    font-size: 4rem;
    padding: .5rem 1.5rem;
}

.description-background-movie .button-actions .button-info{
    border: 1px solid aliceblue;
    border-radius: 50px;
    background-color: transparent;
    color: aliceblue;
    font-size: 1rem;
    text-transform: uppercase;
    padding: .5rem 1.5rem;
}

/* Genders */
.gender-container .gender-list {
    display: flex;
    justify-content: start;
    padding: 1rem 0;
    margin: 1rem 0;
}

.gender-container .gender-list li {
    list-style: none;
    border: 1px solid aliceblue;
    border-radius: 50px;
    background-color: transparent;
    color: aliceblue;
    font-size: 1rem;
    padding: .5rem 1.5rem;
    margin: .5rem;
}

.gender-container .gender-list {
    display: inline-block;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.gender-container .gender-list li:hover {
    background-color: rgba(75, 75, 180, 0.155);
}

/* Container movies */
.movies-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;;
}

.movies-container .poster-movie {
    margin: .2rem .5rem;
}

/* Footer */
footer {
    border-top: 2px solid rgba(75, 75, 180, 0.155);;
}

footer ul .nav-link {
    color: aliceblue;
    font-size: .8rem;
}
